/* DEFAULT */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

/*
    ==============================================
                ****** MOBILE FIRST DESIGN. STYLING FOR SMALL PHONE ******
    ==============================================
*/

/* Styling for header section */
nav {
  display: flex;
  position: fixed;
  top: 0;
  height: 17vh;
  width: 100%;
  flex-direction: column;
  padding-bottom: 0;
  z-index: 3;
}

.zero-nav-line {
  height: 3vh;
  width: 100%;
  background-color: #000;
  display: none;
}

.first-nav-line {
  display: flex;
  height: 6vh;
  justify-content: space-between;
  background-color: #fff;
}

.fa-bars {
  color: #f00;
  padding: 0.7rem;
}

.fa-search {
  padding: 0.7rem;
  margin-right: 0.1rem;
  border-right: 0.5px solid #ccc;
  border-left: 0.5px solid #ccc;
  color: #ccc;
}

.second-nav-line {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  width: 100%;
  background-color: rgb(240, 211, 48);
  font-size: 0.9rem;
}

/* Footer Section */
footer {
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 100%;
  background-color: #000;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  margin: 2vh auto;
  width: 80%;
}

.social-media a {
  padding: 0.5rem 0.6rem;
  background-color: rgb(70, 67, 67);
  border-radius: 50%;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  margin: 2vh auto;
  width: 60%;
  font-size: 0.8rem;
}

.footer-links a {
  color: #ccc;
}

.footer-bottom {
  color: #ccc;
  margin: 1vh auto 0 auto;
  width: 50%;
  padding: 1rem;
  font-size: 0.8rem;
}

.strong-bottom {
  color: #fff;
  font-weight: bold;
}

/* highlights section */
.highlights {
  display: flex;
  flex-direction: column;
  margin: 18vh auto 0;
  width: 90%;
}

.highlight-item {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  height: 20vh;
  text-align: left;
  margin-bottom: 5px;
}

.highlight-1 {
  background-image: linear-gradient(to bottom, rgba(152, 154, 163, 0.52), rgb(7, 1, 5)), url(../images/highlight1.jpg);
  background-color: #f00;
}

.highlight-2 {
  background-image: linear-gradient(to bottom, rgba(152, 154, 163, 0.52), rgb(7, 1, 5)), url(../images/highlight2.png);
  background-color: #0f0;
}

.highlight-3 {
  background-image: linear-gradient(to bottom, rgba(152, 154, 163, 0.52), rgb(7, 1, 5)), url(../images/highlight3.png);
  background-color: #00f;
}

.lower-moon {
  position: absolute;
  color: #fff;
  top: 40%;
  font-size: 1.5rem;
  font-weight: bold;
}

.lower-moon-2 {
  position: absolute;
  top: 80%;
  color: #ccc;
}

/* funding */
.funding {
  padding: 20px;
}

.latest-funding {
  width: 100%;
}

.funding-item {
  padding: 20px;
}

.funding-header {
  font-size: 1.8rem;
  font-weight: bold;
}

.funding a {
  color: #f00;
}

.funding-links {
  display: flex;
  flex-direction: column;
}

.one {
  background-color: #f00;
  color: #fff; 
  position: relative;
}

.two {
  background-color: rgb(245, 233, 235);
  position: relative;
}

.funding-image {
  width: 10%;
  position: absolute;
  padding: 15px 0 0 8px;
}

.pad-right {
  padding-left: 60px;
  padding-top: 15px;
}

.one p {
  background-color: rgb(245, 233, 235);
  color: black;
  margin: 0;
  padding-bottom: 8px;
}

.grey-txt {
  color: #ccc;
}

#item-4 {
  display: none;
}

hr {
  border-color: #f00;
  box-shadow: none;
}

.sub-head {
  color: #aaa;
  font-size: 0.8rem;
}

.social-media a:hover {
  background-color: #000;
  border: 0.5px solid rgb(70, 67, 67);
}

.footer-links a:hover {
  color: #fff;
}
