/* DEFAULT */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

/*
    ========================================================================================
                ****** MOBILE FIRST DESIGN. STYLING FOR SMALL, MEDIUM AND LARGE PHONE ******
    ========================================================================================
*/

/* Styling for header section */
nav {
  display: flex;
  position: fixed;
  top: 0;
  height: 17vh;
  width: 100%;
  flex-direction: column;
  padding-bottom: 0;
  z-index: 3;
}

.zero-nav-line {
  height: 3vh;
  width: 100%;
  background-color: #000;
  display: none;
}

.first-nav-line {
  display: flex;
  height: 6vh;
  justify-content: space-between;
  background-color: #fff;
}

.invisible-links {
  display: none;
}

.fa-bars {
  color: #f00;
  padding: 0.7rem;
  display: inline-block;
}

.fa-search {
  padding: 0.7rem;
  margin-right: 0.1rem;
  border-right: 0.5px solid #ccc;
  border-left: 0.5px solid #ccc;
  color: #ccc;
}

.second-nav-line {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  width: 100%;
  background-color: rgb(240, 211, 48);
  font-size: 0.6rem;
}

/* Footer Section */
footer {
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 100%;
  background-color: #000;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  margin: 2vh auto;
  width: 80%;
}

.social-media a {
  padding: 0.5rem 0.6rem;
  margin-right: 0.2rem;
  background-color: rgb(70, 67, 67);
  border-radius: 50%;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  margin: 2vh auto;
  width: 50%;
  font-size: 0.7rem;
}

.footer-links a {
  color: #ccc;
  margin-right: 0.3rem;
  padding: 0.1rem;
}

.footer-bottom {
  display: flex;
  justify-content: space-around;
  color: #ccc;
  margin: 1vh auto;
  width: 60%;
  padding: 1rem;
  font-size: 0.8rem;
  text-align: center;
}

.strong-bottom {
  color: #fff;
  font-weight: bold;
}

/* highlights section */
.highlights {
  display: flex;
  flex-direction: column;
  margin: 18vh auto 0;
  width: 98%;
}

.highlight-item {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  height: 20vh;
  text-align: left;
  margin-bottom: 5px;
}

.highlight-1 {
  background-image: linear-gradient(to bottom, rgba(152, 154, 163, 0.52), rgb(7, 1, 5)), url(../images/highlight1.jpg);
  background-color: #f00;
}

.highlight-1 .top-left-image {
  display: none;
}

.highlight-1 .top-right-time {
  display: none;
}

.highlight-2 {
  background-image: linear-gradient(to bottom, rgba(152, 154, 163, 0.52), rgb(7, 1, 5)), url(../images/highlight2.png);
  background-color: #0f0;
}

.highlight-3 {
  background-image: linear-gradient(to bottom, rgba(152, 154, 163, 0.52), rgb(7, 1, 5)), url(../images/highlight3.png);
  background-color: #00f;
}

.lower-moon {
  position: absolute;
  color: #fff;
  top: 40%;
  left: 3%;
  font-size: 1.3rem;
  font-weight: bold;
}

.lower-moon-2 {
  position: absolute;
  top: 80%;
  left: 3%;
  color: #ccc;
}

/* funding */
.funding {
  padding: 20px;
}

.latest-funding {
  width: 100%;
}

.funding-item {
  padding: 20px;
}

.funding-header {
  font-size: 1.8rem;
  font-weight: bold;
}

.funding a {
  color: #f00;
}

.funding-links {
  display: flex;
  flex-direction: column;
}

.one {
  background-color: #f00;
  color: #fff;
  position: relative;
}

.two {
  background-color: rgb(245, 233, 235);
  position: relative;
}

.funding-image {
  width: 17%;
  position: absolute;
  padding: 15px 0 0 8px;
}

.pad-right {
  padding-left: 72px;
  padding-top: 15px;
}

.one p {
  background-color: rgb(245, 233, 235);
  color: black;
  margin: 0;
  padding-bottom: 8px;
}

.grey-txt {
  color: #ccc;
}

#item-4 {
  display: none;
}

hr {
  border-color: #f00;
  box-shadow: none;
}

.sub-head {
  color: #aaa;
  font-size: 0.8rem;
}

.social-media a:hover {
  background-color: #000;
  border: 0.5px solid rgb(70, 67, 67);
}

.footer-links a:hover {
  color: #fff;
}

/*
    =======================================================================
                ****** TABLET ******
    ========================================================================
*/
@media screen and (min-width: 481px) {
  .zero-nav-line {
    display: flex;
    justify-content: space-between;
  }

  .zero-nav-line a {
    padding: 0.3rem;
    margin-top: 0.1rem;
    color: #ccc;
  }

  .white-text {
    color: #fff;
  }

  .logo-image {
    display: none;
  }

  .invisible-links {
    display: flex;
    justify-content: flex-start;
    color: #f00;
    padding: 0.5rem;
    margin-right: 0.4rem;
  }

  .invisible-links a {
    color: #ccc;
    padding: 0.5rem;
    margin-right: 0.4rem;
  }

  .funding-links a {
    padding: 0 0.5rem;
    border-right: 1px solid #f00;
  }

  .invisible-links a:hover {
    color: #000;
  }

  .zero-nav-line a:hover {
    color: #fff;
  }

  .second-nav-line {
    font-size: 1.2rem;
  }

  .highlights {
    flex-direction: row;
  }

  .highlight-1 {
    width: 33%;
    height: 40.5vh;
    margin-right: 0.2rem;
  }

  .highlight-container {
    display: flex;
    flex-direction: column;
    width: 67%;
  }

  .highlight-item {
    background-size: cover;
  }

  .lower-moon {
    top: 50%;
    font-size: 1.6rem;
  }

  .lower-moon-2 {
    top: 85%;
    font-size: 0.9rem;
  }

  /* footer for tablet */
  .social-media {
    width: 30%;
  }

  .footer-links {
    width: 25%;
  }

  .footer-bottom {
    display: flex;
    width: 30%;
  }

  /* Funding section for tab */
  .funding-links {
    flex-direction: row;
  }

  .funding-image {
    width: 25%;
  }

  .funding-container {
    display: flex;
    flex-direction: row;
  }

  .funding-item {
    width: 32%;
  }
}

/*
    =======================================================================
                ****** SMALL LAPTOP SCREEN ******
    ========================================================================
*/
@media screen and (min-width: 769px) {
  .second-nav-line {
    font-size: 1.5rem;
  }

  .fa-bars {
    display: none;
    color: #fff;
  }

  .funding-image {
    width: 22%;
  }

  .pad-right {
    padding-left: 90px;
  }

  .lower-moon {
    top: 50%;
    font-size: 1.7rem;
  }

  .lower-moon-2 {
    top: 90%;
    font-size: 0.7rem;
  }

  .highlight-1 .lower-moon {
    font-size: 3rem;
  }

  .highlight-1 .lower-moon-2 {
    top: 90%;
  }

  .funding-item {
    width: 24%;
  }

  #item-4 {
    display: block;
  }

  .highlight-1 .top-left-image {
    display: inline-block;
    position: absolute;
    top: 5%;
    left: 2%;
    width: 60%;
  }

  .highlight-1 .top-right-time {
    display: inline-block;
    position: absolute;
    right: 3%;
    top: 5%;
    color: #fff;
  }

  .highlight-1 {
    background-image: linear-gradient(to bottom, rgba(221, 47, 47, 0.52), rgb(7, 1, 5)), url(../images/highlight1.jpg);
    background-color: #f00;
    width: 65%;
    height: 60vh;
  }

  .highlight-container {
    width: 34%;
  }

  .highlight-2,
  .highlight-3 {
    height: 29.65vh;
  }

  .funding {
    display: flex;
    justify-content: space-between;
  }

  .funding-header {
    font-size: 2.5rem;
  }

  .funding-links {
    font-size: 1.2rem;
  }

  .third-funding-link {
    border: none;
  }

  .footer-bottom {
    width: 70%;
  }
}

/*
    =======================================================================
                ****** LARGE LAPTOP SCREEN ******
    ========================================================================
*/
@media screen and (min-width: 1025px) {
  .lower-moon {
    top: 50%;
    font-size: 2rem;
  }

  .lower-moon-2 {
    top: 85%;
    font-size: 0.7rem;
  }

  .highlight-1 .lower-moon {
    font-size: 3.4rem;
  }

  .highlight-1 .lower-moon-2 {
    top: 90%;
  }
}
